<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Restaurant_Project</display-name>  

<session-config>
	<session-timeout>1</session-timeout>
</session-config>

<security-role>
	<role-name>user</role-name>
</security-role>
<security-role>
	<role-name>admin</role-name>
</security-role>

<security-constraint>
	<web-resource-collection>
		<web-resource-name>order Pages</web-resource-name>
		<url-pattern>/order</url-pattern>
		<url-pattern>/thankYou</url-pattern>
	</web-resource-collection>
	
	<auth-constraint>
		<role-name>user</role-name>
	</auth-constraint>
</security-constraint>
<security-constraint>
	<web-resource-collection>
		<web-resource-name>staff pages</web-resource-name>
		<url-pattern>/admin/*</url-pattern>
	</web-resource-collection>
	
	<auth-constraint>
		<role-name>admin</role-name>
	</auth-constraint>
</security-constraint>

<login-config>
	<auth-method>FORM</auth-method>		
	<form-login-config>	
		<form-login-page>/login.html</form-login-page>
		<form-error-page>/failed-login.html</form-error-page>	
	</form-login-config>
</login-config>

</web-app>